<template>
    <div>
        <div id="container" class="menu-icon-container">
            <div class="icon-container" @click="goToActors()">
                <img class="menu-icon" :src="actorsSrc" alt="">
                <div>Acteurs</div>
            </div>
            <div class="icon-container" @click="goToHome()">
                <img class="menu-icon" :src="homeSrc" alt="">
                <div>Accueil</div>
            </div>
            <div class="icon-container" @click="goToMovies()">
                <img class="menu-icon" :src="moviesSrc" alt="">
                <div>Films</div>
            </div>
        </div>        
    </div>
</template>

<script>
import actorsRed from '@/assets/icons/actorsRed.svg'
import moviesRed from '@/assets/icons/moviesRed.svg'
import homeRed from '@/assets/icons/homeRed.svg'
import movies from '@/assets/icons/movies.svg'
import actors from '@/assets/icons/actors.svg'
import home from '@/assets/icons/home.svg'

export default {
    methods: {
        goToActors() {
            this.$router.push({
                name: 'actors'
            })
        },
        goToHome() {
            this.$router.push({
                name: 'home'
            })
        },
        goToMovies() {
            this.$router.push({
                name: 'movies'
            })
        }
    },
    data() {
        return {
            actorsRed, 
            moviesRed, 
            homeRed, 
            movies, 
            actors,
            home,
            moviesSrc : movies,
            actorsSrc : actors,
            homeSrc : home
        }
    },
    mounted() {
        let prevScrollpos = window.pageYOffset;
        window.addEventListener('scroll', () =>  {
            let currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                this.$anime({targets: '#container',opacity: 1, duration: 500, ease: 'cubicBezier(.08,1.08,.52,.98)'})
            } else {
                this.$anime({targets: '#container',opacity: 0, duration: 500, ease: 'cubicBezier(.08,1.08,.52,.98)'})
            }
            prevScrollpos = currentScrollPos;
        })
    }, 
    created() {
        let currentRoute = this.$route.name
        if (currentRoute == 'movies') {
            this.moviesSrc = this.moviesRed
        } else if (currentRoute == 'actors') {
            this.actorsSrc = this.actorsRed
        } else if (currentRoute == 'home') {
            this.homeSrc = this.homeRed
        }
    }
    
}
</script>

<style lang="scss" scoped>
    .menu-icon-container {
            display: flex;
            justify-content: space-evenly;
            position: fixed;
            width: 100%;
            bottom: 0;
            z-index: 3;
            background-color: rgba(49, 32, 55, 0.9);
            padding: 3px 0 2px 0;
            .icon-container {
                display: flex; 
                align-items: center;
                flex-direction: column;
                color: white;
                font-family: $fontFam2;
                font-size: 14px;
                .menu-icon {
                    width: 26px;
                }
            }
            
        }
    .inactive {
        display: none;
    }
    .fadeDown-enter {
        top: 100vh;
        opacity: 0;
    }
    .fadeDown-enter-active, 
    .fadeDown-leave-active {
        transition: all 0.5s $ease;
    }
    .fadeDown-leave-to {
        top: 100vh;
        opacity: 0;
    }
    
</style>