<template>
<transition name="fade">
    <div class="container2" v-show="isShown">
        <div class="options-container">
            <div class="formField-select">
                <div class="formField-select--container">
                    <select v-model="genre" class="option" id="genreSelect" @change="optionSelected()">
                        <option v-for="genre in genres" :key="genre">{{genre}}</option>
                    </select>
                    <div id="reset" class="option reset" @click="reset()">Réinitialiser</div> 
                </div>
            </div>
        </div>
    </div>
    </transition>
</template>

<script>
import {mapState} from "vuex"
import { eventBus } from '@/main';
export default {
    data() {
        return {
            isShown: false, 
            genre: 'Genre',
            genres: ['Genre','policier', 'thriller', 'western', 'guerre', 'drame', 'automobile', 'comédie']
        }
    },
    created() {
        eventBus.$on('filterCliqued', (data) => {
            if (this.isShown == false) {
                this.isShown = data
            } else if (this.isShown == true) {
                this.isShown = data
            }
        });
        eventBus.$on('sortCliqued', (data) => {
            if (this.isShown == false && data == true || this.isShown == true) {
                this.isShown = !data
            } else if (this.isShown == false && data == false) {
                this.isShown = data
            } 
        });
    },
    methods: {
        optionSelected() {
            if (this.genre != 'Genre') {
                eventBus.genreSelected(this.genre)
            } else {
                eventBus.resetMovies()
            }
        },
        optionBordered() {
            const optionSelected = event.target
            if (!optionSelected.classList.contains('bordered')) {
                const options = document.getElementsByClassName('bordered')
                for (let i = 0; i < options.length; i++) {
                    options[i].classList.remove('bordered')
                }
                optionSelected.classList.add('bordered')
            }
        }, 
        reset() {
            eventBus.resetMovies()
            this.genre = 'Genre'
        }
    },
    computed: mapState(['movies'])
}
</script>

<style lang="scss" scoped>
    .container2 {
        display: flex;
        justify-content: center;
        .options-container {
            display: inline-block;
            .bordered {
                border: 1.5px solid $fontColor2;
            }
            .option {
                border-radius: 3px;
                box-shadow: $boxShadow2;
                background-color: rgba(255,255,255,0.17);
                color: white;
                padding: 7px 8px;
                font-family: $fontFam2;
                margin-bottom: 1em;
            }
            .genre {
                width: 45px;
            }
            .reset {
                width: 87px;
            }
            .formField-select {
                position: relative;
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    font-size: 16px;
                    width: 130px;
                    &:focus {
                        outline-color: #ffffff;
                    }
                    option {
                        background-color: #544659 !important;
                        
                    }
                }
                .formField-select--container::after { 
                    /* Le pointeur du select */
                    content: '';
                    position: absolute;
                    top: 50%; 
                    right: .75em;  
                    display: block; 
                    width: 0; 
                    height: 0;
                    border-color: transparent;
                    border-top-color: white; 
                    border-width: 6px;
                    border-style: solid;
                    pointer-events: none;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    margin-top: 14px;
                }
            }
            
        }
    }
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active, 
    .fade-leave-active {
        transition: all 0.3s ease-in;
    }

    .fade-leave-to {
        opacity: 0;
    }
    
</style>