<template>
    <div>
        <div class="icon-container" @click="showOptions()">
             <div v-if="isDeployed" class="filter-title">Filtrer</div><img class="filter-icon" src="@/assets/icons/filter.svg" alt="">
        </div>
    </div>
</template>

<script>
import { eventBus } from '@/main';

export default {
    data() {
        return {
            isDeployed: false
        }
    },
    methods: {
        showOptions() { 
            if (this.isDeployed) {
                this.isDeployed = false
                eventBus.filterCliqued(this.isDeployed)
            } else {
                eventBus.filterCliqued(!this.isDeployed)
            }
        }
    },
     created() {
        eventBus.$on('filterCliqued', (data) => {
            this.isDeployed = data
        }); 
        eventBus.$on('sortCliqued', (data) => {
            if (this.isDeployed == true) {
                this.isDeployed = !data
            }
        }); 
        eventBus.$on('optionSelected', (data) => {
            if (this.isDeployed) {
                this.isDeployed = data
            }
        });
    }
}
</script>

<style scoped lang="scss">
    .icon-container {
        background-color: rgba(255, 255, 255, 0.17);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        margin: 0 1.5em 2em 0.8em;
        box-shadow: $boxShadow2;
        .filter-icon {
            width: 22px;
            padding: 5px;
        }
        .filter-title {
            color: white;
            padding-left: 5px;
            font-family: $fontFam2
        }
    }
    
</style>