<template>
<transition name="fade">
    <div class="container2" v-show="isShown">
        <div class="options-container">
            <div id="noms" class="option nom" @click="sortMovies">Noms</div>
            <div id="sortie" class="option sortie"  @click="sortMovies">Date de sortie</div> 
            <div id="aleatoire" class="option aleatoire" @click="sortMovies">Aléatoire</div> 
        </div>
    </div>
    </transition>
</template>

<script>
import {mapState} from "vuex"
import { eventBus } from '@/main';
export default {
    data() {
        return {
            isShown: false
        }
    },
    created() {
        eventBus.$on('sortCliqued', (data) => {
            if (this.isShown == false) {
                this.isShown = data
            } else if (this.isShown == true) {
                this.isShown = data
            }
        });
        eventBus.$on('filterCliqued', (data) => {
            if (this.isShown == false && data == true || this.isShown == true) {
                this.isShown = !data
            } else if (this.isShown == false && data == false) {
                this.isShown = data
            }
        });
    },
    methods: {
        optionBordered() {
            const optionSelected = event.target
            if (!optionSelected.classList.contains('bordered')) {
                const options = document.getElementsByClassName('bordered')
                for (let i = 0; i < options.length; i++) {
                    options[i].classList.remove('bordered')
                }
                optionSelected.classList.add('bordered')
            }
        },
        sortMovies(event) {
            const sortType = event.target.id

            const sortMovies = () => {
                this.isShown = false
                this.optionBordered()
                eventBus.optionSelected()
            }
            if (sortType === 'noms') {
                eventBus.sortByName()
                this.$store.state.movies.sorted = 'sortByName'
            } else if (sortType === 'sortie') {
                eventBus.sortByDate()
                this.$store.state.movies.sorted = 'sortByDate'
            } else {
                eventBus.sortRandomly()
                this.$store.state.movies.sorted = 'sortRandomly'
            }
            sortMovies()
        }
    },
    computed: mapState(['movies'])
}
</script>

<style lang="scss" scoped>
    .container2 {
        display: flex;
        justify-content: center;
        .options-container {
            display: inline-block;
            .bordered {
                border: 1.5px solid $fontColor2;
            }
            .option {
                border-radius: 3px;
                box-shadow: $boxShadow2;
                background-color: rgba(255, 255, 255, 0.17);
                color: white;
                padding: 7px 8px;
                font-family: $fontFam2;
                margin-bottom: 1em;
            }
            .nom {
                width: 45px;
            }
            .aleatoire {
                width: 67px;
            }
        }
    }
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active, 
    .fade-leave-active {
        transition: all 0.3s ease-in;
    }

    .fade-leave-to {
        opacity: 0;
    }
    
</style>