<template>
    <div>
        <div class="iconSort-container" @click="showOptions()">
            <div v-if="isDeployed" class="sort-title">Trier</div>
            <img class="sort-icon" src="@/assets/icons/sort.svg" alt="">
        </div>
    </div>
</template>

<script>
import { eventBus } from '@/main';
export default {
    data() {
        return {
            isDeployed: false
        }
    },
    methods: {
        showOptions() {
            if (this.isDeployed == true) {
                eventBus.sortCliqued(!this.isDeployed)
            } else {
                eventBus.sortCliqued(!this.isDeployed)
            } 
        }
    },
    created() {
        eventBus.$on('sortCliqued', (data) => {
            this.isDeployed = data
        }); 
        eventBus.$on('filterCliqued', (data) => {
            if (this.isDeployed == true) {
                this.isDeployed = !data
            }
        }); 
        eventBus.$on('optionSelected', (data) => {
            if (this.isDeployed) {
                this.isDeployed = data
            }
        }); 
    }
}
</script>

<style lang="scss" scoped>
    .iconSort-container {
        background-color: rgba(255, 255, 255, 0.17);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        box-shadow: $boxShadow2;
        .sort-icon {
            width: 22px;
            padding: 5px;
        }
        .sort-title {
            color: white;
            padding-left: 5px;
            font-family: $fontFam2
        }
    }
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: all 0.5s ease-in;
    }

     
    .fade-leave-active {
        transition: all 0.1s ease-in;
    }

    .fade-leave-to {
        opacity: 0;
    }
    
</style>