<template>
    <div class="container">
            <BaseBackButton @click="goBack()" ></BaseBackButton>
        <div class="title-container">
            <h2 class="page-title">Acteurs - Actrices</h2>
            <div class="separator"></div>
        </div>
        <router-link v-for="actor in actors.actors" :key="actor.id" :to="{name: 'actorDetails', params: {id:actor.id}}">
            <app-full-card :key="actor.id">
                <div class="card-container" :style="{ 'background-image': 'linear-gradient(rgba(236, 234, 236, 0.1), rgba(49, 32, 55, 0.8)) , url(' + require('../assets/img/' + actor.photo) + ')' }">
                    <div class="infos-container">
                        <h3 class="card-title">{{actor.patronyme}}</h3>
                        <span class="subtitle">{{actor.apparitions.length}} films</span>
                        <div class="readMore-container">
                            <span class="readMore">Découvrir</span>
                            <img class="readMore-icon" src="@/assets/icons/readMore_white.svg" alt />
                        </div>
                    </div>
                </div>
            </app-full-card>
        </router-link>
        <app-menu></app-menu>
    </div>
</template>

<script>
import FullCard from "@/components/home/FullCard.vue"
import {mapState} from "vuex"
import Menu from "@/components/shared/Menu.vue"

export default {
    components: {
        'app-full-card': FullCard,
        'app-menu': Menu
    }, 
    created() {
        this.$store.dispatch('actors/fetchActors')
    },
    // Get access to the state
    computed: {
        actorsLength() {
            return this.actors.actors.length
        },
        ...mapState(['actors'])
    } 
    
}
</script>

<style lang="scss" scoped>
    .container {
        width: 100%;
        padding-bottom: 6vw;
        background-color: $main-color;
            .back-icon {
                width: 24px;
                margin: 2.5em 0 2em 2.5em;
        }
        .title-container {
            margin-left: 2.5em;
            .page-title {
                color: white;
                font-family: $fontFam1;
                font-weight: lighter;
            }
            .separator {
                width: 45px;
                height: 2px;
                background-color: $secondary-color;
                margin-bottom: 6vw;
            }
        }
        .menu-icon-container {
            display: flex;
            justify-content: center;
            position: fixed;
            width: 100%;
            bottom: 1em;
            .menu-icon {
                width: 24px;
            }
        }
        
    }
</style>