<template>
    <div v-if="actors.loaded">
        <div class="pic-container" v-if="actors.actor.photo" :style="{ 'background-image': 'linear-gradient(rgba(49, 32, 55, 0.4), rgba(236, 234, 236, 0.1)) ,url(' + require('../assets/img/' + actors.actor.photo) + ')' }">
            <BaseBackButton @click="goBack()" ></BaseBackButton>
        </div>
        <div class="films-container">
            <div class="title-container">
                <h3 class="movie-title">{{actors.actor.patronyme}}</h3>
                <div class="separator"></div>
            </div>
            <ul class="titresFilms-container">
               <li v-for="apparition in actors.actor.apparitions" :key="apparition" @click="goToMovieDetails(apparition)">{{apparition}} <img class="linkToMovie" v-if="checkMovies(apparition)" src="@/assets/icons/readMore2.svg"></li>
            </ul>
        </div>
        <app-menu v-if="actors.loaded"></app-menu>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import Menu from "@/components/shared/Menu.vue"
import store from "@/store/store"

export default {
    components: {
        'app-menu': Menu
    },
    data() {
        return {
            isBorder: false, 
            checkedMovies: []
        }
    },
    mounted() {
        this.$anime({targets: '.separator',width: '45px', delay: 500, easing: 'cubicBezier(.08,1.08,.52,.98)', duration: 300})
    },
    beforeRouteEnter (to, from, next) {
        store.dispatch('actors/fetchActor', (to.params.id) - 1).then(() => {
        next()
        })
    }, 
    async created() {
        await this.$store.dispatch('movies/checkMovies', this.$store.state.actors.actor.apparitions).then(() => {
            this.checkedMovies = this.$store.state.movies.checkedMovies
        })
    },
    methods: {
        checkMovies(apparition) { 
            return this.checkedMovies.find(function(movie){
                if (movie.titre === apparition) {
                    return true
                }
                return false 
            })
        },
        goToMovieDetails(apparition) {
            this.$store.dispatch('movies/fetchMovieByName', apparition)
                if (this.movies.movie.id) {
                    this.$router.push({
                        name: 'movieDetails', 
                        params: {id: this.movies.movie.id}
                    })
                } else {}
        }
    },
    computed: {
        ...mapGetters('actors', ['getLoaded']),
        ...mapState(['actors', 'movies'])
    }
}
</script>

<style lang="scss" scoped>
    .pic-container {
        height: 60vh;
        background-image: url('../assets/img/newman.jpg');
        background-size:cover;
        background-position: top;
        .back-icon {
                width: 24px;
                margin: 2.5em 0 2em 2.5em;
        }
    }
    .films-container {
        padding: 1.5em;
        padding-bottom: 5em;
        .title-container {
            .movie-title {
                color: black;
                font-family: $fontFam1;
                font-weight: lighter;
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 0.3em;
            }
            .separator {
                width: 0;
                height: 2px;
                background-color: $secondary-color;
                margin-bottom: 6vw;
            }
        }
        .titresFilms-container {
            padding-left: 0;
            li {
                list-style: none;
                padding: 10px;
                box-shadow: $boxShadow2;
                margin-bottom: 17px;
                border-left: 2px solid white;
                border-right: 2px solid white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-left: 2px solid $secondary-color;
            }
            .linkToMovie {
                width: 22px;
                margin-top: 2px;
            }
        }
        
    }
    .menu-icon-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0.5em 0 0 0;
            position: fixed;
            bottom: 0.5em;
            .menu-icon {
                width: 24px;
            }
        }
</style>