<template>
    <div class="backOffice-container">
        <app-addMovies></app-addMovies>
        <app-addActors></app-addActors>
    </div>
</template>

<script>

import AddMovies from '@/components/backoffice/AddMovies.vue'
import AddActors from '@/components/backoffice/AddActors.vue'

export default {
    components: {
        'app-addMovies': AddMovies, 
        'app-addActors': AddActors
    }
    
}
</script>

<style lang="scss" scoped>
    .backOffice-container {
        background-color: $main-color;
        width: 100%;
        height: 100vh;
        display: flex;
    }
</style>