<template>
    <div class="main-container">
        <div class="msg-container">
            <p>Pour connaître le film d'où est tiré cette scène, merci de consulter le site sur mobile :) </p>
            <img src="" alt="">
        </div>
        <app-searchBar class="none"></app-searchBar>
        <app-dailymovie class="none"></app-dailymovie>
        <app-movie-hp class="none"></app-movie-hp>
        <app-actor-hp class="none"></app-actor-hp>
        <app-menu class="none"></app-menu>
    </div>
</template>
<script>
import DailyMovie from "@/components/home/DailyMovie.vue";
import SearchBar from "@/components/home/SearchBar.vue";
import MovieHp from "@/components/home/MovieHp.vue";
import ActorHp from "@/components/home/ActorHp.vue";
import Menu from "@/components/shared/Menu.vue";
export default {
    components: {
        'app-searchBar': SearchBar,
        'app-dailymovie': DailyMovie,
        'app-movie-hp': MovieHp,
        'app-actor-hp': ActorHp, 
        'app-menu': Menu
    }
}
</script>

<style lang="scss" scoped>
    @media screen and (min-width: 768px) {
        .main-container {
        background-image: url('../assets/img/desktop.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
            .msg-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                    color: $fontColor2;
                    font-size: 20px;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .msg-container {
            display: none;
        }
    }
    @media screen and (min-width: 768px) {
        .none {
            display: none;
        }
    }
    
</style>