<template>
    <div class="container" >
        <BaseBackButton @click="goBack()" ></BaseBackButton>
        <div  class="title-container">
            <h2 class="page-title">Films</h2>
            <div class="separator"></div>
        </div>
        <div class="sort-container">
            <app-sortBy></app-sortBy>
            <app-filter></app-filter>
        </div>
        <div class="options-container">
            <app-sortOptions></app-sortOptions>
            <app-filterOptions></app-filterOptions>
        </div>
        <router-link :to="{name: 'movieDetails', params: {id: movie.id}}" v-for="movie in movies.movies" :key="movie.id">
            <app-semi-card :movie="movie" id="card-container" v-if="movies.movies">
            <div class="pic-container" :style="{ 'background-image': 'url(' + require('../assets/img/' + movie.pochette) + ')' }">
            </div>
            <div class="infos-container">
                <h3 class="movieTitle">{{movie.titre}}</h3>
                <p class="resume">{{movie.resume | maxLength}}</p>
                <div class="readMore-container">
                    <span class="readMore">Lire plus</span>
                    <img class="readMore-icon" src="@/assets/icons/readMore.svg" alt="">
                </div>  
            </div>
        </app-semi-card></router-link>
        <app-menu></app-menu>
    </div>
</template>

<script>
import SemiCard from "@/components/home/SemiCard.vue"
import Menu from "@/components/shared/Menu.vue"
import Filter from "@/components/filter/Filter.vue"
import SortBy from "@/components/filter/SortBy.vue"
import SortOptions from "@/components/filter/SortOptions.vue"
import FilterOptions from "@/components/filter/FilterOptions.vue"
import {mapState, mapGetters} from "vuex"
import { eventBus } from '@/main';

export default {
    components: {
        'app-semi-card': SemiCard, 
        'app-menu': Menu, 
        'app-filter': Filter, 
        'app-sortBy': SortBy, 
        'app-sortOptions': SortOptions,
        'app-filterOptions': FilterOptions
    },
    created() {
        eventBus.$on('resetMovies', () => { 
            this.$store.dispatch('movies/fetchMovies')
        })
        let movies = []
        if (this.$store.state.movies.sorted == "sortByName") {
            this.$store.commit('movies/SORT_MOVIES_NAME', movies)
        } else if (this.$store.state.movies.sorted == "sortByDate") {
            this.$store.commit('movies/SORT_MOVIES_DATE', movies)
        } else if (this.$store.state.movies.sorted == "sortRandomly") {
            this.$store.commit('movies/SORT_MOVIES_RANDOM', movies)
        } else {
            this.$store.dispatch('movies/fetchMovies')            
        }
        eventBus.$on('sortByName', () => {
            this.$store.commit('movies/SORT_MOVIES_NAME', this.$store.state.movies.moviesCopy)
        })
        eventBus.$on('sortByDate', () => {
            this.$store.commit('movies/SORT_MOVIES_DATE', this.$store.state.movies.movies)
        })
        eventBus.$on('sortRandomly', () => {
            this.$store.commit('movies/SORT_MOVIES_RANDOM', this.$store.state.movies.movies)
        }) 
        eventBus.$on('genreSelected', (data) => {
            if (this.$store.state.movies.movies.length > 70) {
                this.$store.dispatch('movies/fetchMoviesByGenre', data)
            } else {
                this.$store.commit('movies/SET_MOVIESCOPY2')
                this.$store.dispatch('movies/fetchMoviesByGenre', data)
            }
            
        })
    },
    mounted() {
        this.$anime({targets: '#card-container', opacity: 1, delay: 1000, duration: 1000})
    },
    // Get access to the state
    computed: mapState(['movies', 'moviesCopy'])
}
</script>

<style lang="scss" scoped>
    .container {
        width: 100%;
        padding-bottom: 6vw;
        background-color: $main-color;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        background-image: url('../assets/img/moviesBG.png');
        .sort-container {
            width: 100%; 
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
        }
        .options-container {
            margin-bottom: 1em;
        }
        .back-icon {
            width: 24px;
            margin: 2.5em 0 2em 2.5em;
        }
        .title-container {
            margin-left: 2.5em;
            .page-title {
                color: white;
                font-family: $fontFam1;
                font-weight: lighter;
            }
            .separator {
                width: 45px;
                height: 2px;
                background-color: $secondary-color;
                margin-bottom: 6vw;
            }
        }
        
        
    }
</style>