<template>
    <div>
        <div class="container" v-if="movies.loaded">
            <div class="pic-container" v-if="movies.movie.pochette" :style="{ 'background-image': 'url(' + require('../assets/img/' + movies.movie.pochette) + ')' }">
                <BaseBackButton @click="goBack()" ></BaseBackButton>
            </div>
            <div class="infos-container">
                <div class="title-container">
                    <h3 class="movie-title">{{movies.movie.titre}}</h3>
                    <div class="separator"></div>
                </div>
                <div class="date-container">
                    <span>{{movies.movie.dateSortie}}</span>
                </div>
                <div class="topInfos-container">
                    <p class="realisateur">Un film {{movies.movie.genre}} de <b>{{movies.movie.directeur}}</b></p>
                    <p id="acteurs" class="acteurs">Avec <span :class="{colored: checkActors(acteur) }" class="acteur" v-for="acteur in movies.movie.acteurs" :key="acteur" @click="goToActorDetails(acteur)">{{acteur}}</span></p> 
                </div>
                <p class="resume">
                    {{movies.movie.resume}}
                </p>
                
            </div>
            <app-menu v-if="movies.loaded"></app-menu>
        </div>
    </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import Menu from "@/components/shared/Menu.vue"
import store from "@/store/store"

export default {
    components: {
        'app-menu': Menu
    },
    data() {
        return {
            isUnderlined: false, 
            checkedActors: []
        }
    },
    mounted() {
        this.$anime({targets: '.separator',width: '45px', delay: 500, easing: 'cubicBezier(.08,1.08,.52,.98)', duration: 300})
        
    },
    beforeRouteEnter (to, from, next) {
        store.dispatch('movies/fetchMovie', (to.params.id)-1).then(() => {
            next()
        })
        
    },
    async created() {
        await this.$store.dispatch('actors/checkActors', this.$store.state.movies.movie.acteurs).then(() => {
            this.checkedActors = this.$store.state.actors.checkedActors
        })
    },
    methods: {
        checkActors(acteur) { 
            return this.checkedActors.find(function(actor){
                if (actor.patronyme === acteur) {
                    return true
                }
                return false 
            })
        },
        goToActorDetails(acteur) {
            this.$store.dispatch('actors/fetchActorByName', acteur)
            console.log(this.actors.actor.id);
            
            setTimeout(() => {
                if (this.actors.actor.id) {
                this.$router.push({
                    name: 'actorDetails', 
                    params: {id: this.actors.actor.id}
                })
                this.isUnderlined = true;
                }
            }, 200);
        }
    },
    computed: {
        ...mapGetters('movies', ['getLoaded']),
        ...mapState(['movies', 'actors'])
    }
    
}
</script>
<style lang="scss" scoped>
    .container {
        .pic-container {
            background-size: cover;
            background-position: center;
            height: 50vh;
            .back-icon {
                width: 24px;
                margin: 2.5em 0 2em 2.5em;
            }
        }
        .infos-container {
            padding: 1.5em;
            padding-bottom: 3em;
            .title-container {
                .movie-title {
                    color: black;
                    font-family: $fontFam1;
                    font-weight: lighter;
                    font-size: 24px;
                    line-height: 24px;
                    margin-bottom: 0.3em;
                }
                .separator {
                    width: 0;
                    height: 2px;
                    background-color: $secondary-color;
                    margin-bottom: 6vw;
                }
            }
            .date-container {
                text-align: right;
                color: $fontColor1;
                font-size: 18px;
            }
            .topInfos-container {
                .colored {
                    color: $secondary-color;
                }
                .realisateur {
                    margin-bottom: 0;
                }
                .acteurs {
                    margin-top: 0;
                    color: black;
                    line-height: 25px;
                    .acteur {
                        font-weight: bold;
                        margin-right: 7px;
                        word-spacing: -2px;
                    }
                }
            }
        }
        .menu-icon-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0.3em 0 0 0;
            position: fixed;
            bottom: 0.5em;
            .menu-icon {
                width: 24px;
            }
        }
    }
</style>