<template>
    <div class="contain">
        <p class="text1">Oops, nous n'avons pas trouvé <br> votre destination :/</p>
        <p class="text2">Revenez sur vos pas ou <br>tentez votre chance à la roulette <br> chez Ricks à Casablanca</p>
        <router-link :to="{name: 'home'}" ><div>Home</div></router-link>
        <router-link :to="'/movies/9'" ><div>Casablanca</div></router-link>
    </div>
</template>

<style lang="scss">
    .contain {
        background-image: url('../assets/img/404.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;

        .text1, .text2 {
            color: white;
        }
        .text2 {
            margin: 0 0 2em 0;
        }
        div {
            color: $fontColor2;
            font-family: "Abril Fatface";
            font-weight: lighter;
            font-size: 26px;
        }
        div:nth-child(1) {
            margin-bottom: 0.8em;
        }
    }
</style>

