<template>
    <div>
        <div class="container">
            <div class="title-container">
                <h2 class="section-title">Acteurs - Actrices</h2>
                <div class="separator"></div>
            <p class="subtitle">Découvrez les acteurs et actrices emblématiques</p>
            </div>
            <router-link id="card" :to="{ name: 'actors' }">
                <app-full-card>
                <template>
                    <div class="card-container" :class="infos.imgSrc"  data-rellax-percentage="0.3" v-rellax="relax" id="actor-container">
                        <div class="infos-container" data-rellax-percentage="0.1" v-rellax="relax2">
                            <h3 class="card-title">{{infos.title}}</h3>
                            <span class="subtitle">{{actorsLength}} acteurs / actrices</span>
                            <div class="readMore-container">
                                <span class="readMore">Découvrir</span>
                                <img class="readMore-icon" src="@/assets/icons/readMore_white.svg" alt />
                            </div>
                        </div>
                    </div>
                </template>
               </app-full-card>
            </router-link> 
        </div>
    </div>
</template>

<script>
import FullCard from '@/components/home/FullCard.vue'
import { mapState } from 'vuex';
export default {
    name: "DailyMovie", 
    components: {
        'app-full-card': FullCard
    }, 
    data() {
        return {
            infos: {
                title: 'Acteurs et actrices de légende',
                imgSrc: 'actorBgCard'
            }, 
            relax: {
                speed: 1,
                vertical: true,
                center: true
            }, 
            relax2: {
                speed: 1.2,
                vertical: true,
                center: false
            }
        }
    },
    created() {
        this.$store.dispatch('actors/fetchActors')
    },
    computed: {
        actorsLength() {
            return this.$store.getters['actors/actorsLength']
        },
        ...mapState(['actors'])
    }
}
</script>

<style scoped lang="scss" scoped>
    .actorBgCard {
    background-image: url("../../assets/img/backCard2.png");
    }
    .container {
        background-color: $main-color;
        padding: 2em 0 2em 0;
        background-image: url('../../assets/img/actorsBG.png');
        background-position: center;
        background-size: cover;
        .title-container {
            margin-left: 2.5em;
            .section-title {
            font-family: $fontFam1;
            font-weight: lighter;
            color: white;
        }
        .separator {
            width: 45px;
            height: 2px;
            background-color: $secondary-color;
            margin-bottom: 6vw;
        }
        .subtitle {
            color: $fontColor2;
            margin-top: 0;
            width: 80%;
        }
        }
    }
</style>