<template>
    <div>
        <div class="container">
            <div class="title-container">
                <h2 class="section-title">Le film du jour</h2>
                <div class="separator"></div>
            </div>
            <div class="loader-container" v-if="movies.loaded == false">
                <img class="loader-icon" src="@/assets/icons/loader.svg" alt="">
            </div>
            <router-link :to="{name: 'movieDetails', params: {id: $store.state.movies.randomMovie.id}}">
                <app-semi-card id="card-container" style="transform: translateY(-30px);">
                    <div class="pic-container" v-if="$store.state.movies.randomMovie.pochette" :style="{ 'background-image': 'url(' + require('../../assets/img/' + movies.randomMovie.pochette) + ')' }">
                        </div>
                    <div class="infos-container">   
                        <h3 class="movieTitle">{{movies.randomMovie.titre}}</h3>
                        <p class="resume" v-if="$store.state.movies.randomMovie.resume">{{movies.randomMovie.resume | maxLength}}</p>
                        <div class="readMore-container">
                            <span class="readMore">Lire plus</span>
                            <img class="readMore-icon" src="@/assets/icons/readMore.svg" alt="">
                        </div>  
                    </div>
                </app-semi-card>
            </router-link>            
        </div>
    </div>
</template>

<script>
import SemiCard from '@/components/home/SemiCard.vue'
import { mapState } from 'vuex';
export default {
    name: "DailyMovie", 
    components: {
        'app-semi-card': SemiCard
    },
    created() {
        this.$store.dispatch('movies/fetchRandomMovie') 
    },
    mounted() {
        const duration = 800
        const delay = 1000
        const ease = 'cubicBezier(.08,1.08,.52,.98)'
        this.$anime({targets: '.section-title',opacity: 1, delay: delay, easing: ease})
        this.$anime({targets: '.separator',width: '45px', delay: delay + 100, easing: ease, duration: duration})
        this.$anime({targets: '#card-container', opacity: 1, translateY: '0', delay: 700, duration: 1200, easing: 'cubicBezier(.08,1.08,.52,.98)'})

    },
    computed: {
        dailyMovie() {
            return this.$store.getters['movies/dailyMovie']
        },
        loaded() {
            return this.$store.getters['movies/getLoaded']
        },
        ...mapState(['movies'])
    }
}
</script>

<style scoped lang="scss">
    
    .container {
        background-color: $main-color;
        padding-bottom: 2em;
        #card-container {
            opacity: 0;
        }
        .title-container {
            margin-left: 2.5em;
            .section-title {
                font-family: $fontFam1;
                font-weight: lighter;
                color: white;
                opacity: 0;
            }
        .separator {
            width: 0;
            height: 2px;
            background-color: $secondary-color;
            margin-bottom: 6vw;
        }
        }
        .loader-container {
            display: flex; 
            height: 80vh;
            align-items: center;
            justify-content: center;
            .loader-icon {
                width: 50px;
                transform: translateY(-40px);
                animation: fadeIn 1s infinite cubic-bezier(.08,1.08,.52,.98);
            }
        }
        @keyframes fadeIn {
           0% {
               opacity: 0;
           }

           50% {
               opacity: 1;
           }
            
           100% {
               opacity: 0; 
            }          
        }
    }
</style>