<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
</script>

<style lang="scss" scoped>

.movieBgCard {
  background-image: url("../../assets/img/backCard.png");
}
.card-container {
  box-shadow: $boxShadow;
  margin: auto;
  width: 80%;
  height: 68vh;
  background-size: cover;
  background-position: center;
  border-radius: $cardRadius;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2em;
  .infos-container {
    width: 100%;
    padding: 1.5em;
    .card-title {
      color: white;
      font-family: $fontFam2;
      font-weight: lighter;
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 0.3em;
    }
    .subtitle {
      color: $fontColor2;
    }
    .readMore-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 2em;
      .readMore-icon {
        width: 20px;
        margin-left: 10px;
      }
      .readMore {
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
    }
  }
}
</style>

