<template>
    <div>   
        <div class="container">
            <div class="title-container">
                <h2 class="section-title">Films</h2>
                <div class="separator"></div>
            <p class="subtitle">Découvrez les films qui ont fait l'histoire</p>
            </div>
            <router-link id="card" :to="{ name: 'movies' }">
                <app-full-card>
                    <template>
                        <div class="card-container rellax" data-rellax-percentage="0.3" v-rellax="relax" id="movie-container" :class="infos.imgSrc">
                            <div class="infos-container" v-rellax="relax2" data-rellax-percentage="0.1">
                                <h3 class="card-title">{{infos.title}}</h3>
                                <span class="subtitle">{{moviesLength}} films</span>
                                <div class="readMore-container">
                                    <span class="readMore">Découvrir</span>
                                    <img class="readMore-icon" src="@/assets/icons/readMore_white.svg" alt />
                                </div>
                            </div>
                        </div>
                    </template>
                </app-full-card>
            </router-link>    
        </div>
    </div>
</template>

<script>
import FullCard from '@/components/home/FullCard.vue'
import {mapState} from 'vuex'
export default {
    name: "DailyMovie", 
    components: {
        'app-full-card': FullCard
    }, 
    data() {
        return {
            infos: {title:'Le meilleur des films classiques', subtitle:'123 films', imgSrc:'movieBgCard'}, 
            intersectionOptions: {
                thresholds: [0.60]
            }, 
            relax: {
                speed: 1,
                vertical: true,
                center: true
            },
            relax2: {
                speed: 1,
                vertical: true,
                center: false
            }
        }
    },
    created() {
        this.$store.dispatch('movies/fetchMovies')
    }, 
    mounted() {
        
    },
    computed: {
        moviesLength() {
            return this.$store.getters['movies/moviesLength']
        },
        ...mapState(['movies'])
    }
}
</script>

<style scoped lang="scss">
    .container {
        background-color: $main-color;
        padding: 2em 0 2em 0;
        background-image: url('../../assets/img/moviesBG.png');
        background-position: center;
        background-size: cover;
        .title-container {
            margin-left: 2.5em;
            .section-title {
            font-family: $fontFam1;
            font-weight: lighter;
            color: white;
        }
        .separator {
            width: 45px;
            height: 2px;
            background-color: $secondary-color;
            margin-bottom: 6vw;
        }
        .subtitle {
            color: $fontColor2;
            margin-top: 0;
        }
        }
    }
</style>