<template>
    <div class="container">
        <div class="input-container">
            <span class="placeholder" @click="toggleSearch()">{{placeholder}}</span>
            
        </div>
        <transition name="fadeSlide">
            <div class="searchSection-container" v-show="isOpened">
                <div class="search-container">
                    <input id="search" class="input-search" type="text" @keyup="displayResults()" autofocus @input="search = $event.target.value">                    
                </div>
                <div class="results-container">
                        <ul v-for="movie in filteredMovies" :key="movie.titre">
                            <router-link :to="{name:'movieDetails', params: {id: movie.id}}"> <li>{{movie.titre}}</li></router-link>
                        </ul>
                        <ul v-for="actor in filteredActors" :key="actor.patronyme">
                            <router-link :to="{name:'actorDetails', params: {id: actor.id}}"> <li>{{actor.patronyme}}</li></router-link>
                        </ul>

                </div>
                <div @click="toggleSearch()" class="closeIcon-container">
                    <span>Fermer</span><img  class="close-icon" src="@/assets/icons/close.svg" alt="">
                </div>
            </div>
        </transition>
        <img class="search-icon" src="@/assets/icons/search.svg" alt="">
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    data() {
        return {
            isOpened: false, 
            search: '',
            infos: [], 
            placeholder: '"Casablanca", "Paul Newman"'
        }
    },
    created() {
        this.reducePlaceholder()
    },
    methods: {
        reducePlaceholder() {
            let windowWidth =  window.innerWidth
            if (windowWidth < 321) {
                this.placeholder = '"Casablanca"'
            }
        },
        toggleSearch() {
            this.clearInput()
            this.isOpened = !this.isOpened
            this.$anime({targets: '.results-container', opacity: 0})
            if (this.isOpened) {
                let x = document.getElementsByClassName('searchSection-container')
                for (let i = 0; i < x.length; i++) {
                    x[i].style.zIndex = 3
                }
                document.getElementById("search").autofocus
                setTimeout(() => {
                    this.$anime({targets: '.input-search', width: '80%', duration: 330, easing: 'cubicBezier(.08,1.08,.52,.98)'})
                    this.$anime({targets: '.clearInput-icon', opacity: 1, duration: 800, delay: 300, easing: 'cubicBezier(.08,1.08,.52,.98)'})
                }, 500)
            } else {
                let x = document.getElementsByClassName('searchSection-container')
                for (let i = 0; i < x.length; i++) {
                    x[i].style.zIndex = -100
                }
                setTimeout(() => {
                    this.$anime({targets: '.input-search', width: 0})
                    this.$anime({targets: '.clearInput-icon', opacity: 0})
                }, 300)
                
            }
        },
        displayResults() {
            this.$anime({targets: '.results-container', opacity: 1})
        },
        clearInput() {
            document.getElementById('search').value = ''
            this.$anime({targets: '.results-container', opacity: 0, duration: 1000})
        }
    },
    computed: {
        getAllMovies() {
            return this.$store.getters['movies/getMovies']
        },
        getAllActors() {
            return this.$store.getters['actors/getActors']
        },
        filteredMovies() {
            return this.getAllMovies.filter((movie) => {
                return movie.titre.toLowerCase().match(this.search.toLowerCase())
            })
        },
        filteredActors() {
            return this.getAllActors.filter((actor) => {
                return actor.patronyme.toLowerCase().match(this.search.toLowerCase())
            })
        },
        ...mapState(['movies', 'actors'])
    }
    
}
</script>

<style lang="scss" scoped>
@media screen and (max-width: 768px) {
  div {
        height: 100px;
        background-color: $main-color;
    }  
}
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .search-icon {
            position: absolute;
            width: 17px;
            right: 55px;
        }
        .input-container {
            border-radius: 20px;
            border: 1px solid white;
            background-color: white;
            border: none;
            height: 40px;
            font-size: 16px;
            width: 80%;
            display: flex; 
            justify-content: flex-start;
            align-items: center;
            .placeholder {
                line-height: 4px;
                color: #5C3C67;
                margin-left: 20px;
            }
        }
        .searchSection-container {
            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;
            background-color: $main-color;
            z-index: 1;
            .results-container {
                height: 50vh;
                overflow: scroll;
                width: 80%;
                margin: auto; 
                opacity: 0;
                    ul {
                        margin: 0;
                        padding: 0;
                    }
                    li {
                        list-style: none;
                        padding: 10px;
                        box-shadow: $boxShadow2;
                        border-left: 2px solid $secondary-color;
                        margin-bottom: 10px;
                        background-color: white;
                    }
            }
            .search-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                height: 125px;
                .input-search {
                    border: none;
                    border-bottom: 2px solid white;
                    background-color: transparent;
                    width: 0;
                    outline: none;
                    caret-color: $fontColor2;
                    color: $fontColor2; 
                    font-size: 20px;
                }
            }
             .closeIcon-container {
                 position: relative;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 height: 10px;
                    .close-icon {
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                    }

                    span {
                        color: white;
                    }
            }
        }
        
    }
    .fadeSlide-enter {
        opacity: 0;
    }
    .fadeSlide-enter-active, 
    .fadeSlide-leave-active {
        transition: all 0.5s $ease;
    }
    .fadeSlide-leave {
        opacity: 0;
    }
    
</style>