<template>
    <div>
        <div class="card-container">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        movie: Object
    }
}
</script>

<style lang="scss" scoped>
    .card-container {
        margin: auto;
        width: 80%;
        
        .pic-container {
            background-color: white;
            height: 35vh;
            border-top-left-radius: $cardRadius;
            border-top-right-radius: $cardRadius;
            background-position: center;
            background-size: cover;
        }
        .infos-container {
            padding: 1.2em 1em;
            height: auto;
            background-color: white;
            margin-bottom: 2em;
            border-bottom-left-radius: $cardRadius;
            border-bottom-right-radius: $cardRadius;
            box-shadow: $boxShadow; 
            .movieTitle {
                font-family: $fontFam1;
                font-weight: lighter;
                font-size: 24px;
                line-height: 28px;
                color: black;
            }
            .resume {
                color: $fontColor1;
            }
            .readMore-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .readMore-icon {
                    width: 20px;
                    margin: 3px 0 0 10px;
                }
                .readMore {
                    font-size: 16px;
                    font-weight: bold;
                    color: black;
                }
            }
            
        }
    }
</style>

