<template>
    <div>
        <div @click="goBack()" :on="$listeners">
            <img class="back-icon" src="@/assets/icons/back.svg" alt="">
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        goBack() {
            this.$router.back();
        }
    }
}
</script>

<style lang="scss">
    .back-icon {
        width: 24px;
        margin: 2.5em 0 2em 2.5em;
    }
</style>