<template>
    <div>
        <div class="input-container">
            <label v-if="label">{{label}}</label>
            <input v-bind="$attrs" @input="updateValue">
        </div>
    </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        label: {
            type: String, 
            default: ''
        }
    }, 
    methods: {
        updateValue(event) {
            this.$emit('input', event.target.value)
        }
    },
}
</script>

<style lang="scss" scoped>
    .input-container {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        margin-top: 1em;
        
        label {
            font-family: $fontFam2;
            color: white;
            margin-bottom: 0.2em;
            font-size: 18px;
        }

        input {
            font-size: 16px; 
            height: 25px;
            background-color: $fontColor2;
            border: none;
            padding-left: 10px;
        }
    }
</style>