<template>
    <div class="actor-container">
        <div class="title-container">
            <h2 class="section-title">Ajouter un acteur</h2>
            <div class="separator"></div>
        </div>
        <div class="form-container">

        </div>
    </div>
</template>

<style lang="scss" scoped>
    .actor-container {
        width: 50%;
        height: 100%;
            .title-container {
                padding: 3em 3em 2em 3em;
            .section-title {
                font-family: $fontFam1;
                font-weight: lighter;
                color: $fontColor2;
            }
            .separator {
                width: 45px;
                height: 2px;
                background-color: $secondary-color;
                margin: 4px 0 2vw 0;
            }
        }
        .form-container {
            width: 60%;
            height: 70vh;
            margin: auto;
            background-color: $main-color; 
            border: 2.5px solid white;
            border-radius: 10px;
            box-shadow: $boxShadow3;
        }
    }
</style>