<template>
    <div class="film-container">
        <div class="title-container">
            <h2 class="section-title">Ajouter un film</h2>
            <div class="separator"></div>
        </div>
        <form class="form-container" @submit.prevent="addMovies">
            <BaseInput type="text" label="Titre" v-model="movie.titre"/>
            <BaseInput type="text" label="Directeur" v-model="movie.directeur"/>
            <BaseInput type="text" label="Genre" v-model="movie.genre"/>
            <BaseInput type="date" label="Année de sortie" v-model="movie.anneeSortie"/>
            <div class="actors-container">
                <div class="input-container">
                    <label>Acteurs</label>
                    <div class="acteursInput">
                        <input id="acteur" type="text">
                        <img class="add-icon" src="@/assets/icons/plus.svg" alt="" @click="addActorsToList">
                    </div>
                    <div class="acteur" v-for="actor in movie.actors" :key="actor">
                        {{actor}}
                    </div>
                </div>
            </div>
            <button class="submit-button">Ajouter</button>
        </form>
    </div>
</template>

<script>
import {required} from 'vuelidate/lib/validators'

export default {
    data() {
        return {
            movie: {
                'actors': []
            }
        }
    },
    methods: {
        addActorsToList(event) {
            let el = document.getElementById('acteur').value
            if (el != ''){
              this.movie.actors.push(el)  
            } 
            
        }
    },
    validations: {
        movie: {
            titre: {required}, 
            directeur: {required},
            genre: {required}, 
            anneeSortie: {required},
            acteurs: {required}
        }
    }, 
    methods: {
        addMovies() {
            
        }
    },
}
</script>

<style lang="scss" scoped>
    .film-container {
        width: 50%;
        height: 100%;
            .title-container {
                padding: 3em 3em 1em 3em;
            .section-title {
                font-family: $fontFam1;
                font-weight: lighter;
                color: $fontColor2;
            }
            .separator {
                width: 45px;
                height: 2px;
                background-color: $secondary-color;
                margin: 4px 0 2vw 0;
            }
        }
        .form-container {
            width: 60%;
            height: auto;
            margin: auto;
            background-color: $main-color; 
            border: 2.5px solid white;
            border-radius: 10px;
            box-shadow: $boxShadow3;
            padding-bottom: 1em;
            .submit-button {
                display: block;
                margin: auto;
                margin-top: 2em;
                padding: 8px 35px;
                background-color: transparent;
                border: 2px solid white;
                color: white;
                cursor: pointer;
                transition: all ease 0.3s;
                &:hover {
                    background-color: white;
                    color: $main-color;
                }
            }
            .input-container {
                display: flex;
                flex-direction: column;
                width: 70%;
                margin: auto;
                margin-top: 1em;

                .acteur {
                    color: white; 
                    margin-top: 0.3em;
                    font-family: $fontFam2;
                }
                .add-icon {
                    width: 20px;
                    cursor: pointer;
                }
                label {
                    font-family: $fontFam2;
                    color: white;
                    margin-bottom: 0.2em;
                    font-size: 18px;
                }

                .acteursInput {
                    display: flex; 
                    justify-content: space-between; 
                    margin-bottom: 0.2em;
                }

                input {
                    font-size: 16px; 
                    height: 25px;
                    background-color: $fontColor2;
                    border: none;
                    padding-left: 10px;
                    width: 270px;
                }
            }
        }
    }
</style>