@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
$main-color: #312037;
$fontFam1: 'Abril Fatface';
$fontFam2: 'Open Sans';
$fontColor1: #545454;
$fontColor2: #E0D2E5;
$cardRadius: 5px;
$secondary-color: #DD0C0C;
$boxShadow: 0px 5px 33px -4px black;
$boxShadow2: 0px 3px 11px -6px rgba(0,0,0,0.6);
$boxShadow3: 0px 0px 10px 0px rgba(0,0,0,0.5);
$ease: cubic-bezier(.08,1.08,.52,.98);
body {
    margin: 0;
    padding: 0;
}

h2, h3 {
    margin: 0;
}
p {
    font-family: $fontFam2;
    font-size: 16px;
}

span, li {
    font-family: $fontFam2;
}
a {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
li, span {
    color: black;
}

@mixin responsive {
    @media screen and (min-width: 768px) {
        .container {
            display: none;
        }
    }
}

// @include responsive; 


    


